/setDepsPath.bat
/MIPModeler.pro.user
/Makefile
/MIPSolverInterface/MIPMskSolver/debug/*.pdb
/MIPSolverInterface/MIPCpxSolver/debug
/lib/release
/lib/debug
/.qmake.stash
compile.debug.log
compile.release.log
/.vs/MIPModeler/v17
/MIPModelerCore/lib/Debug
/MIPModelerCore/MIPModelerCore.vcxproj.user
/MIPSolverInterface/MIPCbcSolver/lib/Debug
/MIPSolverInterface/MIPCbcSolver/MIPCbcSolver.vcxproj.user
/MIPSolverInterface/MIPCpxSolver/lib/Debug
/MIPSolverInterface/MIPCpxSolver/MIPCpxSolver.vcxproj.user
/MIPModelerCore/lib/Release
/MIPSolverInterface/MIPCbcSolver/lib/Release
/MIPSolverInterface/MIPCpxSolver/lib/Release
