/setDepsPath.bat
/MIPModeler.pro.user
/Makefile
/GAMSModeler/debug
/GAMSModeler/release
/GAMSModeler/Makefile
/GAMSModeler/Makefile.Debug
/GAMSModeler/Makefile.Release
/MIPModelerCore/debug
/MIPModelerCore/release
/MIPModelerCore/Makefile
/MIPModelerCore/Makefile.Debug
/MIPModelerCore/Makefile.Release
/MIPSolverInterface/MIPMskSolver/release
/MIPSolverInterface/MIPMskSolver/debug
/MIPSolverInterface/MIPMskSolver/release
/MIPSolverInterface/MIPCpxSolver/debug
/MIPSolverInterface/MIPCpxSolver/release
/MIPSolverInterface/MIPClpSolver/debug
/MIPSolverInterface/MIPClpSolver/release
/MIPSolverInterface/MIPCbcSolver/debug
/MIPSolverInterface/MIPCbcSolver/release
/lib/release
/lib/debug
/.qmake.stash
